.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'prev next';
  gap: 4px;
  width: 100%;

  .previous {
    grid-area: prev;
    padding: 8px 24px;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.3s ease;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .icon {
      padding-top: 10px;

      &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  .next {
    grid-area: next;
    padding: 8px 24px;
    border-radius: 0 50px 50px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.3s ease;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .icon {
      padding-top: 10px;

      &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
