.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;

  .logo {
    height: 77px;
    width: 100%;
    object-fit: contain;
  }

  .navigationList {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .navigationLink {
      text-decoration: none;

      .navigationItem {
        display: flex;
        align-items: center;
        background-color: transparent;
        border-radius: 100px;
        padding: 6px 16px 10px;
      }

      .current {
        background-color: var(--color-white);
      }
    }
  }

  .social {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .copyright {
    margin-top: 24px;
    text-align: center;
    color: var(--color-white);
    font-size: 12px;
    opacity: 0.5;
  }
}
