---
import '~/styles/blog.css';

import dayjs from "dayjs";
import type { ContentfulBlog } from '~/types/blog';

import styles from './style.module.scss'

import markdownIt from "markdown-it";
interface Props {
  blog: ContentfulBlog;
}

const { blog } = Astro.props;
const md = markdownIt()
---

<div class="blog">
  <p class="blog-date">{dayjs(new Date(blog.fields.publishedAt)).tz('Asia/Tokyo').format('YYYY.MM.DD')}</p>
  <h1 class="blog-title">{blog.fields.title}</h1>
  {blog.fields.headerImage &&(
    <img
      class="blog-headerImage"
      src={blog.fields.headerImage.fields.file.url}
    />
  )}
  <div set:html={md.render(blog.fields.body)} class={styles.blogBody}></div>
</div>

<style lang="scss" scoped>
.blog {
  max-width: 720px;
  width: 100%;
  padding: 6%;

  &-date {
    margin-top: 20px;
    font-size: 1rem;
    color: #777777;
    text-align: left;
  }

  &-title {
    margin: 32px 0;
    font-size: 36px;
    font-weight: bold;
    text-wrap: wrap;
    line-height: 1.5;
    color: var(--color-text-black);
  }

  &-headerImage {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .blogBody {
    color: var(--color-text-black)
  }
}
</style>
  