.blogBody {
	color: var(--color-text-black);
	white-space: pre-wrap;

	h2 {
		font-size: 28px;
		line-height: 2;
		font-weight: bold;
		text-wrap: wrap;
		padding: 0 0 8px;
		border-bottom: 1px solid var(--color-border-gray);
	}

	h3 {
		font-size: 24px;
		line-height: 1.8;
		font-weight: bold;
		text-wrap: wrap;
	}

	h4 {
		font-size: 16px;
		line-height: 1.5;
		font-weight: bold;
		text-wrap: wrap;
	}

	p {
		font-size: 16px;
		line-height: 1.8;
		text-wrap: wrap;
	}

	a {
		color: rgb(99, 99, 124);
	}

	img {
		width: 100%;
		height: auto;
		margin: 16px 0;
	}

	blockquote {
		margin: 8px 0;
		border-left: 4px solid #dfe2e5;
		color: #6a737d;
		padding: 0 16px;
	}

	blockquote > :first-child {
		margin-top: 0;
	}

	blockquote > :last-child {
		margin-bottom: 0;
	}

	pre {
		background-color: #e5e5e6;
		border-radius: 6px;
		line-height: 1.45;
		overflow: auto;
		padding: 16px;
	}

	code {
		background-color: #e5e5e6;
		border-radius: 6px;
		font-size: 13px;
		margin: 0;
		padding: 2px 4px;
	}

	pre code {
		padding: 0;
	}
}
