.baseText {
  font-size: 14px;
  line-height: 1.4;
}

._black {
  color: var(--color-black);
}

._white {
  color: var(--color-white);
}

._primary {
  color: var(--color-primary);
}

/* TODO: font familyをHiragino Maru Gothic StdN W6にする */
.titleText {
  line-height: 1.25;
  letter-spacing: 0.05em;
  font-family:
    'Kosugi Maru',
    'DotGothic16',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-weight: bold;
}

.paragraphText {
  line-height: 1.75;
  letter-spacing: 0.05em;
  font-family:
    'Kosugi Maru',
    'DotGothic16',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

.labelText {
  line-height: 1.25;
  letter-spacing: 0.05em;
  font-family:
    'Kosugi Maru',
    'DotGothic16',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-weight: bold;
}

._size32 {
  font-size: 32px;
}

._size24 {
  font-size: 24px;
}

._size20 {
  font-size: 20px;
}

._size16 {
  font-size: 16px;
}

._size14 {
  font-size: 14px;
}

._size12 {
  font-size: 12px;
}

._bold {
  font-weight: bold;
}

._normal {
  font-weight: normal;
}

._left {
  text-align: left;
}

._center {
  text-align: center;
}

._right {
  text-align: right;
}

._solid {
  opacity: 1;
}

._transparent {
  opacity: 0.5;
}
