---
import SectionHeading from '~/components/typographys/SectionHeading.astro'
import WorkCard from '~/components/cards/WorkCard/index.astro';
import MoreButton from '~/components/buttons/MoreButton.astro';
import type { Work } from '~/types/work'

interface Props {
  works: Work[]
}

const { works } = Astro.props;

const work1 = works.find((work) => work.title === 'スマレポ')!;
const work2 = works.find((work) => work.title === '地雷時計')!;
const work3 = works.find((work) => work.title === '東海スクショDB')!;
const latestWorks = [work1, work2, work3];
---

<section id="works" class="latest-works">
  <SectionHeading>Works</SectionHeading>
  <div class="works">
    {latestWorks.map((work) => (
      <WorkCard work={work} />
    ))}
  </div>
  <MoreButton link="/works" />
</section>

<style lang="scss" scoped>
.latest-works {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .works {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
</style>
