---
import SectionHeading from '~/components/typographys/SectionHeading.astro'
---

<section id="works" class="works">
  <SectionHeading>Works</SectionHeading>
  <div class="portfolio-content">
    <div class="portfolio-card">
      <div class="portfolio-text">
        <h3>スマレポ</h3>
        <span class="subtitle">スマブラ戦績記録・分析アプリ</span>
        <p class="description">
          <span>スマブラが上手くなりたすぎて作りました。</span>
          <span>対戦の記録をつけていくとキャラごとの勝率とかを見れたり、</span>
          <span>勝率の変化をグラフで見れます。</span>
          <span>自分の弱みを把握して対策できるアプリです。</span>
        </p>
        <p class="description">
          <span>NuxtとFirebaseを使ってます。</span>
          <span>詳しくは<nuxt-link to="/blog/20210131">こちら</nuxt-link>のブログで書いてます。</span>
        </p>
      </div>
      <div class="portfolio-img">
        <a href="https://smarepo.me/">
          <img src="/images/smarepo.png" alt="smarepo" />
        </a>
      </div>
    </div>

    <div class="portfolio-card">
      <div class="portfolio-text">
        <h3>東海スクショDB</h3>
        <span class="subtitle">東海オンエア 動画スクショ共有アプリ</span>
        <p class="description">
          <span>東海オンエアが大好きなので作りました。</span>
          <span>自分のすきなシーンや場面をスクショとして投稿してシェアすることができます</span>
          <span>投稿のリンクを共有するとOGPで画像が表示されます</span>
        </p>
        <p class="description">
          <span>Next.jsとTypeScriptとFirebaseを使っています</span>
          <span>詳しくは<nuxt-link to="/blog/2021212">こちら</nuxt-link>のブログで書いてます。</span>
        </p>
      </div>
      <div class="portfolio-img">
        <a href="https://tokai-db.vercel.app/">
          <img src="/images/tokaidb.webp" alt="東海スクショDB" />
        </a>
      </div>
    </div>
  </div>
</section>

<style lang="scss" scoped>
.portfolio {
  &-content {
    h3 {
      color: #ffffff;
      font-size: 1.6rem;
      padding-bottom: 20px
    }
    .subtitle {
      color: #bbbbbb;
      font-size: 1.1rem;
    }
    .description {
      margin: 1.5rem 0 0 0;
      color: #ebebeb;
      font-size: 1rem;
      line-height: 1.6rem;
      display: flex;
      flex-direction: column;
    }
  }
  &-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 48px;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px dashed rgb(57, 72, 85);
  }
  &-img {
    max-width: 500px;

    img {
      width: 100%;
      height: auto;
    }
    margin: 1rem 0;
  }
}
</style>
