.body {
  background-color: var(--color-primary);
  position: relative;
  margin-inline: 16px;

  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .rightColumn {
      width: 100%;
      max-width: 616px;

      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}
