.body {
  background-color: var(--color-primary);
  position: relative;

  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
  }

  .rightColumn {
    width: 100%;
    max-width: 616px;
  }
}
