.sidebar {
  padding-top: 240px;
  padding-left: 40px;
  width: 100%;

  background-image: url('/images/shutterstock_1117734563 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;

  @media (max-width: 900px) {
    padding: 0 0 160px 0;
  }
}
