---
import SectionHeading from '~/components/typographys/SectionHeading.astro'
import BlogTitleCard from '~/components/cards/BlogTitleCard.astro';
import type { Blog } from '~/types/blog'

interface Props {
  blogs: Blog[];
  isShowYear?: boolean;
}

const { blogs, isShowYear } = Astro.props;

const showYear = (posts: Blog[], index: number, isShowYear: boolean) => {
  if (!isShowYear) return false;
  const year = posts[index].publishedAt.slice(0,4);
  if (index === 0) return true;
  const prevYear = posts[index-1].publishedAt.slice(0,4);
  return year !== prevYear;
}
---

<section id="blog" class="blog">
  <SectionHeading>Blog</SectionHeading>
  <div class="blog-list">
    {blogs.map((blog, index) => (
      <>
        {showYear(blogs, index, Boolean(isShowYear)) && (
          <p class="post-year">{blog.publishedAt.slice(0,4)}</p>
        )}
        <BlogTitleCard blog={blog} />
      </>
    ))}
  </div>
</section>

<style lang="scss" scoped>
.blog {
  width: 100%;
  margin: 80px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;

  .blog-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;

    .post-year {
      font-size: 16px;
      color: #aaaaaa;
      margin-top: 8px;
    }
  }
}
</style>
